* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(35,37,41,255);
}

.layout {
    display: grid;
    grid-template-columns: 13vw 86vw;
    grid-template-rows: 7vh 93vh 7vh;
}

header {
    grid-column: 1 / 3;
    border-bottom: 3px solid rgba(53,56,63,255);
    font-weight: bold;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: left;
}

header > a {
    text-decoration: none;
    padding: 1vh;
}

header > a:nth-child(2) {
    margin-left: 15px;
    margin-top: 2px;
}

header > .logo {
    border-right: 2px solid rgba(53,56,63,255);
    padding: 18px 18px;
    vertical-align: middle; 
    display: inline-block;
    margin: 0;
}

header > .logo img {
    vertical-align: middle; 
}

header > div{
    flex-grow: 0.99;
}

aside {
    background-color: rgba(41,44,49,255);
    border-right: 1px solid rgba(53,56,63,255);
    display: flex;
    flex-direction: column;
}

aside > ul {
    padding-top: 40px;
    margin-left: 10%;
    list-style-type: disc;
}

aside > ul a {
    text-decoration: none;
}

aside > ul > li ul li:nth-child(1) {
    margin-top: 3px;
}

aside > ul li {
    text-decoration: none;
    color: #e3e3e3;
    display: block;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

aside > ul li a:hover {
    color: rgb(163,100,95);
}

.container {
    padding: 80px 20%;
}

h1 {
    text-align: left;
    color: #e3e3e3;
}

footer {
    background-color: rgba(35,37,41,255);
    grid-column: 1 / 3;
    border-top: 2px solid rgba(53,56,63,255);
}
